@import url("https://fonts.googleapis.com/css2?family=Danfo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: black;
  background-image: url("assets/chocolate cookie.jpg");
  background-size: cover;
  background-position: center;
}
.opac {
  position: fixed;
  opacity: 0.4;
  background-color: black;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
}
.and {
  color: rgb(31, 23, 14);
}
h1 {
  position: relative;
  font-family: "Danfo", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 14vw;
  line-height: 5vw;
  color: wheat;
  width: fit-content;
  height: fit-content;
  position: relative;
  cursor: default !important;
}
.navbar {
  font-family: "Poppins", sans-serif;
  position: fixed;
  top: 0;
  right: 0;
  width: 90%;
  z-index: 10;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin-right: 4vw;
  margin-left: 4vw;
}
.logo h4 {
  font-family: "Danfo", sans-serif;
  font-size: 2vw;
  text-align: center;
  align-self: center;
  cursor: pointer;
  justify-self: center;
  transition: 0.3s ease-in-out;
  color: beige;
}
.logo h4:hover {
  scale: 1.2;
  transition: 0.3s ease-in-out;
}
.na {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7vw;
  margin: 2vw;
}
a {
  text-decoration: none;
  font-size: 1.1vw;
  color: beige;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
a:hover {
  font-size: 1.5vw;
  text-shadow: white 0 0 5px;
  transition: 0.3s ease-in-out;
}
.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
  align-items: center;
  justify-self: flex-end;
  transition: 0.3s ease-in-out;
}
.hamburger:hover {
  scale: 1.2;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.hamburger div {
  width: 30px;
  height: 5px;
  border-radius: 5px;
  background: beige;
}
.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
